In [3]:
import pandas as pd
import psycopg2
from io import StringIO
from utils.utils import connection

In [2]:
conn = connection()

In [ ]:
df_t_pulse = pd.read_sql("SELECT * FROM t_pulse_data LIMIT 1000", conn)

In [12]:
df_t_pulse

,id,ticker,inserted,text,commentsCount,reactionCount,reactions_counters
0,56bc9efb-5eff-4e49-8799-25e1a7f850b1,SBER,2025-05-24,"–ú–∞–π –æ–±—ã–¥–µ–Ω–Ω—ã–π, –º–∞–π —Ä—É—Ç–∏–Ω–Ω—ã–π. –ê–±—Å–æ–ª—é—Ç–Ω–æ –Ω–∏–∫–∞–∫–∏—Ö...",0,13,"[{'type': 'like', 'count': 11}, {'type': 'buy-..."
1,3f78e0f8-f775-4f6e-968b-baa16a6f1b5f,SBER,2025-05-24,–°–µ–≥–æ–¥–Ω—è —Ç–æ–ª—å–∫–æ –≤–Ω–µ–±–∏—Ä–∂–∞ \n{$GAZP} {$SBER} {$MTSS},18,4,"[{'type': 'like', 'count': 4}]"
2,497652aa-e7e6-4bea-a6e5-206b0505748e,SBER,2025-05-24,–ï–° –†–ê–°–°–ú–ê–¢–†–ò–í–ê–ï–¢ –í–û–ó–ú–û–ñ–ù–û–°–¢–¨ –û–¢–ö–õ–Æ–ß–ï–ù–ò–Ø 20 –ë–ê–ù...,25,18,"[{'type': 'like', 'count': 14}, {'type': 'get-..."
3,7baeea1f-1b3c-471e-91d5-304ec6fd56e0,SBER,2025-05-24,{$SBER} —è –Ω–µ –ø–æ–Ω—è–ª –ú–æ—Å–∫–æ–≤—Å–∫–∞—è –±–∏—Ä–∂–∞ –ø–æ –≤—ã—Ö–æ–¥–Ω—ã...,0,0,[]
4,8a8464ac-b8c8-42c9-ba7c-663f8f6d68bb,SBER,2025-05-24,–ï–° –†–ê–°–°–ú–ê–¢–†–ò–í–ê–ï–¢ –í–û–ó–ú–û–ñ–ù–û–°–¢–¨ –û–¢–ö–õ–Æ–ß–ï–ù–ò–Ø 20 –ë–ê–ù...,20,20,"[{'type': 'like', 'count': 14}, {'type': 'buy-..."
...,...,...,...,...,...,...,...
995,a0b3c6a4-dc1a-4628-86e2-97d7f7dff202,SBER,2025-05-08,üîî –†–æ—Å—Å–∏–π—Å–∫–∏–π —Ä—ã–Ω–æ–∫: –ª–æ–Ω–≥–æ–≤—ã–π –æ–±–º–∞–Ω—á–∏–≤—ã–π –º–∏—Ä–∞–∂\...,11,21,"[{'type': 'like', 'count': 15}, {'type': 'buy-..."
996,acdc5218-e400-41ba-9405-4688f7727b1f,SBER,2025-05-08,–î–ò–í–ò–î–ï–ù–î–´ –ö–û–ú–ü–ê–ù–ò–ô –ù–ê –ú–û–°–ë–ò–†–ñ–ï –í–ï–°–ù–û–ô-–õ–ï–¢–û–ú –ú–û...,5,14,"[{'type': 'like', 'count': 11}, {'type': 'buy-..."
997,88abf36e-dcf8-4190-b42c-90e01eaa5698,SBER,2025-05-08,üí° –ü–æ—á–µ–º—É —Ç–µ–±–µ –Ω–∏–∫–æ–≥–¥–∞ –Ω–µ —Å—Ç–∞—Ç—å –Ω–æ–≤—ã–º –ë–∞—Ñ—Ñ–µ—Ç—Ç–æ–º...,4,20,"[{'type': 'like', 'count': 15}, {'type': 'buy-..."
998,c2b5614b-57d6-4189-ae1c-ea6f4c629e29,SBER,2025-05-08,"{$SBER} –ú–æ–∏ –º—ã—Å–ª–∏ –ø–æ –ø–æ–≤–æ–¥—É –°–±–µ—Ä–∞: –Ø –¥—É–º–∞—é, —á—Ç...",2,0,[]
999,af92ce0c-5cb8-46c0-968f-d513a690521b,SBER,2025-05-08,"{$GAZP} {$SBER} —è —á–µ–ª–æ–≤–µ–∫ –ø—Ä–æ—Å—Ç–æ–π, –∫–æ–ø–µ–µ—á–∫–∏ –∑–∞...",4,10,"[{'type': 'like', 'count': 10}]"

In [18]:
tickers_info = pd.read_sql("""
    SELECT ticker, COUNT(*) as post_count
    FROM t_pulse_data 
    GROUP BY ticker 
    ORDER BY post_count DESC
""", conn)

In [25]:
tickers_info

   ticker  post_count
0       T      194523
1    GAZP      189283
2    VTBR      131445
3    MTLR      113406
4    SBER      100291
..    ...         ...
76   CNRU        2002
77   FIXR        1936
78   IRAO        1774
79   RASP        1511
80   VSEH        1367

[81 rows x 2 columns]

In [24]:
tickers_info.describe()

          post_count
count      81.000000
mean    35010.864198
std     37835.003737
min      1367.000000
25%      8859.000000
50%     22911.000000
75%     50452.000000
max    194523.000000

In [21]:
tickers_info.ticker.unique()

array(['T', 'GAZP', 'VTBR', 'MTLR', 'SBER', 'EUTR', 'SGZH', 'PLZL',
       'GMKN', 'SPBE', 'ALRS', 'RNFT', 'CHMF', 'PIKK', 'MTSS', 'AFKS',
       'WUSH', 'NLMK', 'MAGN', 'POSI', 'RUAL', 'LKOH', 'SNGSP', 'ROSN',
       'SOFL', 'SFIN', 'UGLD', 'SELG', 'TRMK', 'NMTP', 'UPRO', 'MVID',
       'SBERP', 'RTKM', 'ASTR', 'IRKT', 'HYDR', 'VKCO', 'SVCB', 'LSRG',
       'TATN', 'AQUA', 'SVAV', 'NVTK', 'FEES', 'SMLT', 'AFLT', 'ENPG',
       'MOEX', 'MGNT', 'SIBN', 'RENI', 'OGKB', 'RTKMP', 'YDEX', 'PHOR',
       'HEAD', 'LEAS', 'CBOM', 'AKRN', 'BSPB', 'TTLK', 'LENT', 'SNGS',
       'VSMO', 'FLOT', 'X5', 'BELU', 'MRKP', 'OZPH', 'TATNP', 'IVAT',
       'MRKC', 'RAGR', 'MDMG', 'UWGN', 'CNRU', 'FIXR', 'IRAO', 'RASP',
       'VSEH'], dtype=object)