In [29]:
import pandas as pd
from utils.utils import connection

In [16]:
conn = connection()

In [17]:
df_dividends = pd.read_sql("SELECT * FROM moex_iss_dividends", conn)

In [18]:
df_dividends.head(5)

  ticker        date  dividedends_rub_per_share updated_date
0   SBER  2019-06-13                       16.0   2025-11-13
1   SBER  2020-10-05                       18.7   2025-11-13
2   SBER  2021-05-12                       18.7   2025-11-13
3   SBER  2023-05-11                       25.0   2025-11-13
4   SBER  2024-07-11                       33.3   2025-11-13

In [31]:
df_dividends.shape

(668, 4)

In [32]:
df_dividends.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ticker                     668 non-null    object
 1   date                       668 non-null    object
 2   dividedends_rub_per_share  668 non-null    float64
 3   updated_date               668 non-null    object
dtypes: float64(1), object(3)
memory usage: 21.0+ KB

In [33]:
df_dividends.describe()

       dividedends_rub_per_share
count                 668.000000
mean                   77.571348
std                   188.345601
min                     0.000000
25%                     1.627250
50%                    11.815000
75%                    43.850000
max                  1523.170000

In [34]:
df_dividends.isnull().sum()

ticker                       0
date                         0
dividedends_rub_per_share    0
updated_date                 0
dtype: int64

In [35]:
df_dividends.nunique()

ticker                        66
date                         510
dividedends_rub_per_share    535
updated_date                   1
dtype: int64