In [12]:
import pandas as pd
from utils.utils import connection

In [4]:
conn = connection()

In [8]:
df_indices = pd.read_sql("SELECT * FROM moex_iss_indices", conn)

In [9]:
df_indices.head(5)

        date       open      close index_code
0 2017-01-03  2083.8808  2083.8808       BPSI
1 2017-01-04  2084.3644  2084.3644       BPSI
2 2017-01-05  2085.3231  2085.3231       BPSI
3 2017-01-06  2086.0584  2086.0584       BPSI
4 2017-01-09  2088.1927  2088.1927       BPSI

In [14]:
df_indices.shape

(114008, 4)

In [15]:
df_indices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114008 entries, 0 to 114007
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date        114008 non-null  datetime64[ns]
 1   open        112876 non-null  float64
 2   close       114008 non-null  float64
 3   index_code  114008 non-null  object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 3.5+ MB

In [ ]:
df_indices.describe()

                                date           open          close
count                         114008  112876.000000  114008.000000
mean   2021-12-21 23:45:33.029261056    2534.033918    2525.372150
min              2017-01-03 00:00:00      -1.950000      -1.950000
25%              2020-01-13 00:00:00     145.767500     147.742500
50%              2022-03-28 00:00:00    1117.430000    1134.685000
75%              2024-02-13 00:00:00    2582.100000    2557.360250
max              2025-10-13 00:00:00   44538.430000   44955.570000
std                              NaN    4601.211584    4575.024767

In [17]:
df_indices.isnull().sum()

date             0
open          1132
close            0
index_code       0
dtype: int64

In [18]:
df_indices.nunique()

date           2223
open          82930
close         84490
index_code       72
dtype: int64